@model GestionEcole.Models.PresenceCours

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="col-xs-8 col-xs-offset-2">
    <fieldset>
        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Etudiant.Nom, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etudiant.Nom, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Etudiant.Prenom, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Etudiant.Prenom, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Cours.DateDebut, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Cours.DateDebut, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Cours.DateFin, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Cours.DateFin, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Cours.Description, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Cours.Description, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Cours.Matiere.Titre, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Cours.Matiere.Titre, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Motif, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Motif, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Motif)
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Absence, new { disabled = "disabled", @readonly = "readonly", @class = "" })
                    @Html.LabelFor(model => model.Absence)
                    @Html.ValidationMessageFor(model => model.Absence)
                </label>
            </div>
        </div>

    </fieldset>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="btn-group col-xs-12">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span></button>
        <a class="btn btn-danger" href="/PresenceCours"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



