@model GestionEcole.Models.Cours

@{
    ViewBag.Title = "Create";

    IEnumerable<SelectListItem> matieres = ViewBag.Matieres;
    IEnumerable<SelectListItem> teachers = ViewBag.Teachers;
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
<div class="col-xs-8 col-xs-offset-2">
    <fieldset>
        <legend>Cours</legend>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.DateDebut, new { @class = "control-label" })
            <input type="datetime-local" name="DateDebut" id="DateDebut" class="form-control" />
            @Html.ValidationMessageFor(model => model.DateDebut)
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.DateFin, new { @class = "control-label" })
            <input type="datetime-local" name="DateFin" id="DateFin" class="form-control" />
            @Html.ValidationMessageFor(model => model.DateFin)
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.MatiereId, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.MatiereId, matieres, new { @class = "form-control" })
           
        </div>

        <div class="form-group col-xs-8 col-xs-offset-2">
            @Html.LabelFor(model => model.EnseignantId, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.EnseignantId, teachers, new { @class = "form-control" })
            
        </div>

    </fieldset>

    <div class="form-group col-xs-8 col-xs-offset-2">
        <button class="btn btn-lg btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span></button>
    </div>
</div>
}

<div class="col-xs-12">
    <a class="btn btn-danger" href="/Cours"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}