@model GestionEcole.Models.Evaluation

@{
    ViewBag.Title = "Create";

    IEnumerable<SelectListItem> etudiants = ViewBag.Etudiants;
    IEnumerable<SelectListItem> matieres = ViewBag.Matieres;
    IEnumerable<SelectListItem> enseignants = ViewBag.Enseignants;
    IEnumerable<SelectListItem> typesEvaluation = ViewBag.TypesEvaluation;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-xs-8 col-xs-offset-2">
        <fieldset>
            <legend>Evaluation</legend>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(model => model.EtudiantId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.EtudiantId, etudiants, new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(model => model.MatiereId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.MatiereId, matieres, new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(model => model.EnseignantId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.EnseignantId, enseignants, new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note)
            </div>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(model => model.TypeEvaluationId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.TypeEvaluationId, typesEvaluation, new { @class = "form-control" })
            </div>
        </fieldset>

        <div class="form-group col-xs-8 col-xs-offset-2">
            <button class="btn btn-lg btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span></button>
        </div>
    </div>
}

<div class="col-xs-12">
    <a class="btn btn-danger" href="/Evaluation"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}