@using GestionEcole.Resources.Views.Account;
@model GestionEcole.Models.LocalPasswordModel

<p>
  @_SetPasswordPartial.p
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-xs-8 col-xs-offset-2">
        <fieldset>
            <legend>@_SetPasswordPartial.legend</legend>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </fieldset>
    </div>

    <div class="form-group col-xs-8 col-xs-offset-2">
        <button class="btn btn-lg btn-primary pull-right" title=@_SetPasswordPartial.title type="submit"><span class="glyphicon glyphicon-floppy-disk"></span></button>
    </div>
}
