@model GestionEcole.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-xs-8 col-xs-offset-2">
        <fieldset>
            <legend>Set Password Form</legend>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </fieldset>
    </div>

    <div class="form-group col-xs-8 col-xs-offset-2">
        <button class="btn btn-lg btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span></button>
    </div>
}
