@using GestionEcole.Resources.Views.Account;
@model GestionEcole.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="col-xs-8 col-xs-offset-2">
            <fieldset>
                <legend>@ViewBag.Title</legend>

                <div class="form-group col-xs-8 col-xs-offset-2">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="form-group col-xs-8 col-xs-offset-2">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group col-xs-8 col-xs-offset-2">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)                           
                        </label>
                    </div>                    
                </div>                
            </fieldset>

            <div class="form-group col-xs-8 col-xs-offset-2">
                <button class="btn btn-lg btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-hand-right"></span></button>
            </div>
        </div>

        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
